[submodule "jni/third_party/libyuv"]
	path = jni/third_party/libyuv
	url = git@github.com:serj/libyuv.git
[submodule "jni/opus/sources"]
	path = jni/opus/sources
	url = git://git.xiph.org/opus.git
[submodule "jni/ffmpeg/x264_src"]
	path = jni/ffmpeg/x264_src
	url = git://git.videolan.org/x264.git
[submodule "jni/webrtc/webrtc_mirror"]
	path = jni/webrtc/webrtc_mirror
	url = git@github.com:serj/webrtc.git
[submodule "jni/libvpx/sources"]
	path = jni/libvpx/sources
	url = git@github.com:serj/libvpx.git
[submodule "jni/openssl/sources"]
	path = jni/openssl/sources
	url = git://github.com/guardianproject/openssl-android.git
[submodule "jni/ffmpeg/ffmpeg_src"]
	path = jni/ffmpeg/ffmpeg_src
	url = git://git.videolan.org/ffmpeg.git
[submodule "jni/pjsip/sources"]
	path = jni/pjsip/sources
	url = git@github.com:serj/pjsip.git
